In [ ]:
my_list = [90 , 87 , 65 , 34]
print(my_list)
my_list.append(100)
print(my_list)

[90, 87, 65, 34]
[90, 87, 65, 34, 100]

In [ ]:
my_list[2] = 200
print(my_list)

[90, 87, 200, 34, 100]

In [ ]:
list1 = [90 , 78 , 65]
list2 = [56 , 89 , 45]
list1.extend(list2)
print(list1)

[90, 78, 65, 56, 89, 45]

In [ ]:
my_list = [ 78 , 56 , 34 , 12]
my_list.pop(3)
print(my_list)

[78, 56, 34]

In [ ]:
list1 = [90 , 87 , 65 , 23]
list1.remove(23)
print(list1)

[90, 87, 65]

In [ ]:
my_list = [90 , 65 , 47 , 34]
my_list.reverse()
print(my_list)

[34, 47, 65, 90]

In [ ]:
#Dictionary
my_dict = {"Name":"Suryansh" , "College":"Shollini university"}
type(my_dict)

dict

In [ ]:
print(my_dict)

{'Name': 'Suryansh', 'College': 'Shollini university'}

In [ ]:
print(my_dict["Name"])
print(my_dict["College"])

Suryansh
Shollini university

In [ ]:
my_dict.keys()

dict_keys(['Name', 'College'])

In [ ]:
list(my_dict.keys())

['Name', 'College']

In [ ]:
my_dict.values()

dict_values(['Suryansh', 'Shollini university'])

In [ ]:
list(my_dict.values())

['Suryansh', 'Shollini university']

In [ ]:
my_dict.items()

dict_items([('Name', 'Suryansh'), ('College', 'Shollini university')])

In [ ]:
list(my_dict.items())

[('Name', 'Suryansh'), ('College', 'Shollini university')]

In [ ]:
my_dict.get("Name")

'Suryansh'

In [ ]:
my_dict = {"Name":"Suryansh" , "College":"Shollini university" , "Age":19}
print(my_dict.get("College"))

Shollini university

In [ ]:
my_dict = {"Name":"Suryansh" , "College":"Shollini university" , "Age":19}
print(my_dict.get("Age"))

19

In [ ]:
my_dict.update({"Age":20})
print(my_dict)

{'Name': 'Suryansh', 'College': 'Shollini university', 'Age': 20}

In [ ]:
my_dict.update({"Name2":"Honey"})
print(my_dict)

{'Name': 'Suryansh', 'College': 'Shollini university', 'Age': 19, 'Name2': 'Honey'}

In [ ]:
list = [ 34 , 4 , 56 , 67 , 56 , 23 , 45 , 67 ]
sorted(list,reverse =True)

[67, 67, 56, 56, 45, 34, 23, 4]

In [ ]:
my_list = [12 , 35 , 23 , 45 , 67 , 89 , 53 , 67 , 124 , 34 ]
my_list.reverse()
print(my_list)

[34, 124, 67, 53, 89, 67, 45, 23, 35, 12]

In [ ]:
list1 = [ 2 , 5 , 6 ]
list2 = [ 9 , 4 , 7 ]
list3 = [ 2 , 4 , 6 ]
list_of_list = [list1 , list2 , list3 ]
print(list_of_list)

[[2, 5, 6], [9, 4, 7], [2, 4, 6]]